@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body{
	width: 100vw;
	min-width: 481px;
	max-width: 992px;
	/* height: 100vh;
	min-height: 1024px; */
	margin: auto;
	background:radial-gradient(#AEB78B ,#CF8F05);
	color: whitesmoke;
	/* border: 1px solid darkblue; */

}

/* THIS IS FOR ALL ELEMENTS */
:root{
	--FS:12px;
	--FF:'Gloock', serif;
	--FC:"black";
	--FLC:"black";
	--FCA:"black";

}


header{
	min-width: 481px;
	max-width: 992px;
	min-height:125px ;
/* 	height: max(5vh); */
	display: flex;
	flex: column nowrap;
	justify-content: flex-start;
	align-items: center;
	/* border: 1px solid red; */
}
.logoname{
	min-height: 125px;
	flex-grow: 1;
	background: transparent;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
	/* border: 1px solid firebrick; */
}
.searchs{
	/* min-height: 125px; */
	flex-grow: 0.1;
	display: flex;
	flex: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	/* border: 1px solid green; */
}
.sbox{
	height: 30px;
	width: 150px;
	background-color: transparent;
	border: transparent;
	border-radius: 8px;
	text-align: center;
	font-size: large;
}

/* DO NOT TOUCH IT */
/* *****MLSU LOGO ************/

.logohead{
  position: relative;
  display: flex;
}

.logohead>li {
  list-style: none;
}

label {
  position: relative;
}

.logohead>li>input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}

.logohead>li>div {
  position: relative;
  height: 80px;
  width: 80px;
  background: transparent;
  color: #555;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* .logohead>li>div:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
}
 */
input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}







/* IT NEED SOME  POLISHING  IN THIS SECTION*/
/* -----------DO NOT TOUCH IT ------------*/
.depart{
	min-width: 481px;
	max-width: 992px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5rem;
	gap: 5rem;
}
/* MAIN DEP*/
.dep{
	width: 360px; /*340*/
	height: 420px; /* 320*/
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 3px solid black;
	border-radius: 9px;
}
/* DEP DIVIDER*/
.depname{
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	/* border: 1px solid blueviolet; */
}
.hindi{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: end;
	text-align: left;
	padding:20px ;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #370b0b;
	/* border: 1px solid midnightblue; */
}
.english{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: start;
	text-align: right;
	padding:20px ;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #370b0b;
	/* border: 1px solid mediumspringgreen; */
}
.mapqr{
	flex-grow: 0.1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.map{
	width: 50%;
	display: flex;
	justify-content: start;
	padding-left: 10px;
	align-items: center;
	font-size: x-large;
	background-image: url(../google-maps-logo-1-1-1429x2048.png);
	background-size:contain;
	background-position:right;
	background-repeat: no-repeat;
	/* border: 1px solid yellow; */
}
.qr{
	width: 50%;
	display: grid;
	place-content: center;
	font-size: x-large;
	color: black;
}


/* FOOTER GOES FROM HERE*/

footer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	/* border: 1px solid fuchsia; */
}
.last{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3rem;
}
.lastcommon{
	width: 250px;
	height: 400px;
}

/* THIS IS ADDRESS SECTION 
	----DO---NOT---TOUCH---IT----
*/
.address{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Roboto','Gloock', serif;
	color: black;
	word-spacing: 1px;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.3px;
}
#address{
	text-align: center;
	height: 100px;
	padding: 5px;
	/* border: 1px solid tomato; */
}
#soial{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	margin-top: 10px;
	list-style-type: none;
	text-decoration: underline;
	/* border: 1px solid red; */
}
.addList{
	height: 100px;
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	
	/* border: 1px solid violet; */
}
:any-link,:visited,:active{
	text-decoration: none;
	color: black;
}

/* IT'S TIME FOR QUICK LINKS */
.quicklink{
	padding-top: 20px;
	
	/* border: 1px solid hotpink; */
}
.qucikheading{
	font-size: 27px;
	border-bottom: 2px dashed black;
}
.quicklist{
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	font-family: 'Roboto','Gloock', serif;
	color: black;
	word-spacing: 1px;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.3px;
	/* border: 1px solid navy; */
}
.quicklist>li{
	width: 100%;
	height: 40px;
	display: grid;
	place-content: center;
	/* border: 1px solid magenta; */
}

/* NOW WE CAN GO  FORWARD FOR THE WEATHER API  SYSTEM 
*************** THIS IS NOT FUNCTION NOW WE CAN DO IT IN NEXT UPGRADE ********************** 
*/
.explore{
	display: grid;
	place-content: center;
	font-size: 50px ;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: italic;
	color: #555;
	/* border: 1px solid mediumorchid; */
}
 

/* COPYRIGHT CLIAM */

.copyrightclaim{
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.5em;
	border-top: 2px dotted #370b0b ;
	font-family:'Roboto','Gloock', serif ;
	color: black;
	/* border: 1px solid khaki; */
}

@media only screen and (max-width:600px) {
	body{
		width: 100%;
	}
	.logoname{
		max-width: 380px;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		padding-top: 25px;
		gap: 3rem;
	}

	main,footer{
		max-width: 380px;
	}
	header{
		min-width: 380px;
		max-width: 381px;
	}
	footer{
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}
	.last{
		margin-top: 2rem;
		justify-content: center;

	}
	#mainsection{
		min-width: 380px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:start;
		margin-left: 1rem;
		margin-top: 5rem;
		gap: 2rem;
	}

}